
@inject IConfiguration config
@{
	AppConfig? appConfig = config.GetSection("Project").Get<AppConfig>();
}
<footer class="footer">
    <div class="footer-content">

        <div class="footer-left">
            <div class="footer-logo">AchiveRush</div>
            <p class="footer-tagline">
                Соревнуйся с друзьями! Получай награды за достижения в любимых играх!
            </p>
        </div>

        <div class="footer-contacts">
            <h4>Контакты</h4>
            <a href="mailto:support@achiverush.com">
                support@achiverush.com
            </a>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 AchiveRush. Все права защищены.
    </div>
</footer>
