@{
    ViewData["Title"] = "Челленджи";
}

<main class="layout">
    <aside class="sidebar">
        <h2>Сортировка</h2>
        <p>будет<br>обещаю</p>
    </aside>

    <section class="challenges-list">

        <div class="challenge-item">
            <div class="challenge-left">
                <h3>100% достижений</h3>
                <p>Cyberpunk 2077</p>
            </div>

            <div class="challenge-right">
                <span>500 очков</span>
                <span>12 участников</span>
                <span>30 дней</span>
            </div>
        </div>

        <div class="challenge-item">
            <div class="challenge-left">
                <h3>Собрать все ачивки</h3>
                <p>Witcher 3</p>
            </div>

            <div class="challenge-right">
                <span>300 очков</span>
                <span>8 участников</span>
                <span>14 дней</span>
            </div>
        </div>

    </section>

</main>