<main class="layout">
    <aside class="sidebar">
        <h2>Сортировка</h2>
        <p>будет<br>обещаю</p>
    </aside>

    <section class="catalog">
        <div class="card">Пример игры</div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </section>
</main>