<div class="main-content">
    <h1 class="main-title">В поиске за ачивками!</h1>
    <p class="subtitle">Соревнуйся с друзьями! Получай награды за достижения в любимых играх!</p>
    <a asp-controller="Account" asp-action="Login">
        Зайти через Steam!
    </a>
</div>
