<main class="layout">
    <section class="leaderboard-container">

        <div class="leaderboard-header">
            <div class="col-place">Place</div>
            <div class="col-name">Name</div>
            <div class="col-achievements">Achievements</div>
        </div>

        <div class="leaderboard-body" id="leaderboardBody">
            <!-- Пользователи будут вставляться сюда -->
        </div>

    </section>

</main>